*{
    margin: 0px;
    padding: 0%;
}

/*-------Start Body--------*/
body{
width: 100%;
height: 100%;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
background-image: url("../bengo.jpg");
background-repeat: no-repeat;
background-size: cover;
}
/*-------End Body--------*/

/*-------Start Section--------*/
section{
width: 100%;
height: 610px;
background-color: rgba(0, 0, 0, 0.652);
display: flex;
align-items: center;
justify-content: center;
}
/*-------End Section--------*/


/*-------Start All class Btn--------*/
.btn{
color: white;
background-color: rgba(255, 255, 255, 0);
width: 100px;
height: 40px;
margin-right: 10px;
border: 0.5px solid #e22ac4;
box-shadow: 0px 0px 10px 0px #e22ac4;
font-weight: bold;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
cursor: pointer;
text-decoration: none;
position: relative;
overflow: hidden;
}
/*-------End All Btn--------*/



/*-------Start Btn finaly--------*/
.btn-finaly{
color: white;
background-color: rgba(255, 255, 255, 0);
width: 100px;
height: 40px;
margin-right: 10px;
border: 0.5px solid #e22ac4;
box-shadow: 0px 0px 10px 0px #e22ac4;
display: flex;
border-radius: 100px;
align-items: center;
flex-direction: column;
justify-content: center;
cursor: pointer;
text-decoration: none;
position: relative;
overflow: hidden;
}
/*-------End Btn finaly--------*/


/*-------Start Animation Hover number 1--------*/
.btn:hover #span-hover-1{
width: 120%;
height: 120%;
transition: 1s ease;
background-color: #e22ac4;
}

#span-hover-1{
width: 120%;
height: 0%;
transition: 1s ease;
background-color: #5fb5e3;
}

#span-hover-1-A{
position: absolute;
z-index: 2;
}
/*-------End Animation Hover number 1--------*/

/*-------Start Animation Hover number 2--------*/
.btn:hover #span-hover-2{
width: 120%;
height: 120%;
transition: 1s ease;
background-color: #e22ac4;
}


#span-hover-2{
width: 0%;
height: 120%;
transition: 1s ease;
background-color: #5fb5e3;
}

#span-hover-2-A{
position: absolute;
z-index: 2;
}
/*-------End Animation Hover number 2--------*/

/*-------Start Animation Hover number 3--------*/
.btn:hover #span-hover-3{
width: 300%;
height: 300%;
transition: 2s ease;
background-color: #e22ac4;
}

#span-hover-3{
width: 300%;
height: 0%;
transition: 2s ease;
background-color: #5fb5e3;
transform: rotate(-45deg);
}


#span-hover-3-A{
position: absolute;
z-index: 2;
}
/*-------End Animation Hover number 3--------*/

/*-------Start Animation Hover number 4--------*/
.btn:hover #span-hover-4{
width: 100%;
height: 100%;
border-radius: 100px;
transition: 1s ease;
background-color: #e22ac4;
}

#span-hover-4{
width: 0%;
height: 0%;
border-radius: 100px;
transition: 1s ease;
background-color: #5fb5e3;
}

#span-hover-4-A{
position: absolute;
z-index: 2;
}
/*-------End Animation Hover number 4--------*/

/*-------Start Animation Hover number 5--------*/
.btn-finaly:hover #span-hover-5-C{
width: 100%;
height: 100%;
transform: translateX(100%);
transition: 1s ease;
position: absolute;
background-color: #e854cfc9;
}

.btn-finaly:hover #span-hover-5-B{
width: 100%;
height: 100%;
transform: translateX(-100%);
transition: 1s ease;
position: absolute;
background-color: #e854cfc9;
}

.btn-finaly:hover #span-hover-5-A{
transform: scale(1.1);
transition: 1s 1s ease-in-out;
}

#span-hover-5-C{
width: 50%;
height: 100%;
z-index: 2;
transform: translateX(50%);
transition: 1s ease;
background-color: #e22ac4;
}

#span-hover-5-B{
width: 50%;
height: 100%;
position: absolute;
z-index: 2;
transform: translateX(-50%);
transition: 1s ease;
background-color: #e22ac4;
}

#span-hover-5-A{
position: absolute;
z-index: 2;
transition: 1s 0s ease-in-out;
}
/*-------End Animation Hover number 5--------*/

/*-------Start H1--------*/
h1{
position: absolute;
top: 150px;
font-size: 30px;
color: #e22ac4;
font-family: 'Courier New', Courier, monospace;
}
/*-------End H1--------*/